parei aqui <br>
- https://angular.io/guide/user-input#on-blur

<br><br>

<h4>Click teste</h4>
<div><app-click-me></app-click-me></div>

<h4>KeyUpComponent_v1</h4>
<div>
    <app-key-up1></app-key-up1>
</div>


<h4>keyup loop-back component test</h4>
<div><app-loop-back></app-loop-back></div>

<h4>keyup loop-back component test v2</h4>
<div>
    <app-key-up2></app-key-up2>
</div>

<h4>Key event filtering (with key.enter)</h4>
<div>
    <app-key-up3></app-key-up3>
</div>

<h4>keyup loop-back component test v4</h4>
<div>
    <app-key-up4></app-key-up4>
</div>


<h4>Little Tour Component</h4>
<div>
    <app-little-tour></app-little-tour>
</div>
<br>
<br>
